p {
	color: black;
	font-size: 6vw;
	/*PARA CRIAR FONTE RESPONSIVA: Use the "vw" unit when sizing the text. 10vw will set the size to 10% of the viewport width*/
}

/*NAVIGATION BAR*/
@font-face{
	font-family: "Philosopher-Regular";
	src: url("../FONTS/Philosopher-Regular.ttf") format("Philosopher-Regular");
  }
body {
  margin: 0;
  font-family: Philosopher-Regular;
  background-color: #F4F4F4;
  /*max-width: 100vw;*/
}

.bottom {
	bottom: 0;
	font-size: 17px;
	font-family: Philosopher-Regular;
}

.top {
	background-color: none !important;
	/*padding-top:20px; padding-bottom: 20px;*/
	font-size: 8vw !important;
	font-family: Philosopher-Regular;
	
	/*display: block;*/
}

.arruma {
	border: none;
	background-color: #ed6051;
	color: white;
	font-size:15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  font-family: Philosopher-Regular;
}

.navbar img{
	margin-top: 2px;
	width: 15%;
	margin-left: 20px;
}

.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
  font-family: Philosopher-Regular;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
  font-family: Philosopher-Regular;
}

.navbar a.active {
  background-color: #ed6051;
  color: white;
}

.linhas-separando {
  /*border-left-width: 1px; border-left-style: solid; border-left-color: black;*/
}

.main {
  padding: 16px;
  margin-bottom: 30px;
  padding-top: 80px; /*Impede que o conteúdo fique embaixo do local do logo*/
}

/* MENSAGEM MOTIVACIONAL */
.mensagem-motivacional {
	border-style: solid; border-width: 3px; border-color: green;
	background-color: white;
	text-align: center;
	font-family: Philosopher-Regular;
}

/* CURSOS */
.cursos {
	border-style: solid; border-width: 1px; border-color: #8E8E8E; border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: white;
	font-family: Philosopher-Regular;
	/*text-align: center;*/
	/*background-image: url(https://image.freepik.com/fotos-gratis/fundo-gradiente-com-luzes-desfocadas-e-particulas_31965-4611.jpg);*/
	/*background-image: url(https://media.istockphoto.com/photos/orange-and-yellow-gradient-background-picture-id903322984?k=6&m=903322984&s=170667a&w=0&h=laH_cWqNITUg6R8nb3sbJGt33jXvszoZWZNQJZyLZf4=);*/
}

.center {
	text-align: center;
	margin-top: 10px; 
}

/* PERFIL */
.foto-e-nome {
	display: flex;
	/*padding-top: 1rem;*/
	/*border-style: solid; border-width: 3px; border-color: green;*/
}

.foto-e-nome_empresa{
	justify-content: center;
}

.foto img {
	width: 7rem;
}

.foto_empresa img{
	width: 50%;
	margin-left: 25%;
	align-items: center;
  	justify-content: center;
}

.info{
	text-size-adjust: 10px;
	font-weight: bold ;
	font-family: Philosopher-Regular;
}

.nome {
	padding-left: 1rem;
	font-family: Philosopher-Regular;
}

.nome_empresa{
	margin-left: 10px;
	margin-top: -15px;
	text-size-adjust: 10px;
	margin-bottom: 20px;
	font-family: Philosopher-Regular;
}
.nome_empresa .link{
	text-size-adjust: 60px;
	font-family: Philosopher-Regular;
	margin-bottom: 50px;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	font-family: Philosopher-Regular;
}

.tags p {
	border-style: solid; border-color: #CD7E59; border-width: 1px; border-radius: 20px;
	padding-left: 10px; padding-right: 10px;
	margin: 5px; /* top left bottom down*/
	font-family: Philosopher-Regular;

}

.card {
	/* padding-top: 100px; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: Philosopher-Regular;
  }
  
  .price {
	color: grey;
	font-size: 22px;
	font-family: Philosopher-Regular;
  }
  
  .card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color:#dd7b73 ;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	font-family: Philosopher-Regular;
  }
  
  .card button:hover {
	opacity: 0.7;
	font-family: Philosopher-Regular;
  }

  .imagem_logo{
	  padding-top: 15px;

  }
.add {
	background-color: #ed6051;

	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	/* width: 100%; **/
	margin-bottom: 20px;
	justify-content: center;
	font-family: Philosopher-Regular;
	text-decoration: none;

    color: white;
    padding: 14px 165px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Philosopher-Regular;
  }

  .add1{
	background-color: #ed6051;
  color: white;
  padding: 14px 125px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  font-family: Philosopher-Regular;
  margin-bottom: 50px;
  }
  .add2{
	background-color: #ed6051;
  color: white;
  padding: 14px 150px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  font-family: Philosopher-Regular;
  }
  .main .oi {
	  margin-top: 20px;
  }
  .main .inicial{
	  margin-top: -5px;
  }
  .vagas{
	  align-content: space-around;
  }
  .arruma{
	  border:none;
	  background-color: #ed6051;
	  color:white;
	  font-size: 15px;
	  font-family: Philosopher-Regular;
  }